extends layout.pug

include utils.pug

append head
    link(rel='stylesheet' href='/stylesheets/new-question.css')

block content
    if !locals.authenticated
        h2 You must be logged in to do that. Kid.
        