extends layout.pug 

include utils.pug

append head
    link(rel='stylesheet' href='/stylesheets/profile-page.css')

block content
    .nav-bar
        div.nav-display
            .logo-img
                a(href='/'): img(src='https://www.vectorkhazana.com/assets/images/products/Dumbbell_Svg.png' class='dumbell-img')
            a(href='/' class="fitness-font") Fitness-Overflow
        form(action="/search" class="search-bar")
            input(type="search" name='query' placeholder='Search')    
        if locals.authenticated
            div.nav-display
                form(action="/logout" method="post")
                    button(type='submit' class='logout-button') Log-Out
                img(src='https://www.freeiconspng.com/uploads/profile-icon-9.png' class='profile-img')
            .total-content
        else
            //- div.nav-display
            //-     form(action="/login" method="get")
            //-         button(class='login-button') Log-In
            //-     img(src='https://www.freeiconspng.com/uploads/profile-icon-9.png' class='profile-img')

            +validationErrors(errors)
            #login-page
            div#login-form
                h2#login-word Login
                form(action='/login' id='login-form-field' method='post')
                    input(type='hidden' name='_csrf' value=csrfToken)
                    div#login-email
                        +field('Email', 'email', email, 'email')
                    div#login-password
                        +field('Password', 'password', '', 'password')
                    button(type='submit' class='submit-login-info') Login
            div#register-button
                form(action="/sign-up" method="get")
                    button(type='submit' class='sign-up-button') Register for an account!
            .total-content
    home-page
        div.home-page 
            h1#h1 Fitness Overflow is a place to have all of your questions answered relating to physical training! Join millions(?) of users today!
