extends layout.pug

include utils.pug

append head
    link(rel='stylesheet' href='/stylesheets/new-question.css')

block content
  .nav-bar
    div.nav-display-left
        .logo-img
            a(href='/'): img(src='https://www.vectorkhazana.com/assets/images/products/Dumbbell_Svg.png' class='dumbbell-img')
        a(href='/' class="fitness-font") Fitness-Overflow
    div.nav-display-right
        form(action="/logout" method="post")
            button(type='submit' class='logout-button') Log-Out
        form(action='/search' class='search-bar')
                input(type='search' name='query' placeholder='Search' )
        img(src='https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png' class='profile-img')
  .total-content
    .content
      div.new-question-form
        +validationErrors(errors)
        #create-new-question-page
        div#create-question-form
        h2#h2 New Question
        form(action='/questions/new' id='new-question-form-field' method='post')
          input(type='hidden' name ='_csrf' value=csrfToken)
          div#categories-drop-down Category:
            select#category(name="categoryId")
              each category in categoryArr
                option(value=category.id) #{category.name}
          div#title Title:
            textarea(name="title", for="title", value="title", cols="30", rows="5")
          div#body Question:
            textarea(name="body", for="body", value="body", cols="30", rows="20")
          button(type='submit' class='post-button') Post Question
