extends layout.pug

block content
  div.questions-div
    if questions.length
      each question in questions
        .question-div
          a(href=`/questions/${question.id}` class='question-title')= question.title
          p= question.body
    else
      p#no-results There are no results that matches your search.
