p {
    text-decoration: none;
}

.nav-bar {
    background-color: #E07A5F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 15px #3D405B;
    z-index: 1;
    border-bottom: 1px solid #3D405B;
}

.nav-display-left {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.dumbbell-img {
    height: 70px;
    width: 70px;
}


.fitness-font {
    text-decoration: none;
    margin-left: 10px;
    color: #F4F1DE;
    font-weight: bold;
    font-size: 20px;
}

.nav-display-right {

    margin-right: 10%;

}

.search-and-icons {
    display: flex;
    align-items: center;

}


.profile-img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.profile-img:hover {
    cursor: pointer;
}

.logout-button {
    border-radius: 10px;
    height: 25px;
    width: 70px;
    border: none;
    background-color: black;
    color: #F4F1DE;
    margin-left: 10px;
}

.new-q-button {
    border-radius: 10px;
    height: 25px;
    width: 110px;
    border: none;
    background-color: #3D405B;
    color: #F4F1DE;
    margin-left: 10px;
}

.all-qs-button {
    border-radius: 10px;
    height: 25px;
    width: 110px;
    border: none;
    background-color: #F2CC8F ;
    color: black;
    margin-left: 10px;
}

.signup-button {
    border-radius: 10px;
    height: 25px;
    width: 70px;
    border: none;
    background-color: black;
    color: #F4F1DE;
    margin-left: 10px;
}


.logout-button:hover,
.login-button:hover,
.new-q-button:hover,
.signup-button:hover,
.all-questions-button:hover,
.demo-button:hover,
.all-qs-button:hover {
    cursor: pointer;
}

.login-block {
    display: flex;
    height: 50vh;
    /* display: table-row; */
    width: 50vh;
}

.login-button,
.demo-button {
    border-radius: 10px;
    height: 25px;
    width: 70px;
    border: none;
    background-color: black;
    color: #F4F1DE;
    margin: 10px;

}

.home-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
   /* height: 100vh; */
   /* float: left;
   object-fit: cover; */
   /* width: 50%; */
   background-image: url('https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/blog_posts/webmd-doctors/1800x1200_empty-gym.jpg');
   width: 100%;
   height: 1000px;
   background-position: center;
   background-size: cover;
   z-index: 0;

}

.bkg-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px black;
    width: 300px;
    height: 200px;
    background-color: #E07A5F;
    border-radius: 25px;
    position: absolute;
    top: 30%;
    left: 25%

}

.bkg-text {
    display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    size: 20px;
    color: #F4F1DE;
}


.all-q-button-block {
    margin-top: 10px;
    position: relative;
}

.all-questions-button {
    border-radius: 10px;
    height: 25px;
    width: 140px;
    border: none;
    background-color: #F2CC8F;
    color: black;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    padding: 20px;
    box-shadow: 0px 0px 15px black;
    width: 300px;
    height: 200px;
    background-color: #E07A5F;
    border-radius: 25px;
    position: absolute;
    top: 30%;
    right: 25%
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pass,
.em {
    display: flex;
    flex-direction: column;
}
.password-label-and-inp.pass {
    font-weight: bold;
    color: #F4F1DE;
}

.email-label-and-inp.em {
    font-weight: bold;
    color: #F4F1DE;
}

.password-label-and-inp.pass#password-in {
    border-radius: 20px;
}
.email-label-and-inp.em#email-in {
    border-radius: 20px;
}



.button-container {
    display: flex;
    justify-content: center;
}

#login-fields {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.footer {
    border-top: 1px solid #3D405B;
    margin-top: 30px;
    height: 74px;
    width: 100%;
    background-color: #E07A5F;
    position: absolute;
    bottom: 0;
    box-shadow: 0px 0px 15px black;
}

.logo-img-lower {
    display: flex;
    align-items: center;
    margin-left: 10%;
}
