.nav-bar {
    background-color: #E07A5F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 15px #3D405B;
}

.nav-display-left {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.dumbbell-img {
    height: 70px;
    width: 70px;
}

p {
    text-decoration: none;
}

.fitness-font {
    text-decoration: none;
    margin-left: 10px;
    color: #F4F1DE;
    font-weight: bold;
    font-size: 20px;
}

.nav-display-right {
    display: flex;
    align-items: center;
    margin-right: 10%;
}


.profile-img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.profile-img:hover {
    cursor: pointer;
}

.logout-button,
.log-in-button {
    border-radius: 10px;
    height: 25px;
    width: 70px;
    border: none;
    background-color: black;
    color: #F4F1DE;
}


.logout-button:hover,
.log-in-button:hover {
    cursor: pointer;
}

.signup-username,
.signup-email,
.signup-password,
.signup-confirmPassword {
    display: flex;
    flex-direction: column;
}

.signup-block {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid white;
    box-shadow: 0px 0px 15px #3D405B;
}

.signup {
    width: 500px;
}

.input-fields {
    width: 300px;
}
