.nav-bar {
    background-color: #E07A5F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 15px #3D405B;
    height: 74px;
}

.nav-display-left {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.dumbbell-img {
    height: 70px;
    width: 70px;
}

p {
    text-decoration: none;
}

.fitness-font {
    text-decoration: none;
    margin-left: 10px;
    color: #F4F1DE;
    font-weight: bold;
    font-size: 20px;
}

.nav-display-right {
    display: flex;
    align-items: center;
    margin-right: 10%;
}


.profile-img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.profile-img:hover {
    cursor: pointer;
}

.logout-button,
.log-in-button {
    border-radius: 25px;
    height: 25px;
    width: 70px;
    border: none;
    background-color: black;
    color: #F4F1DE;
}

.logout-button:hover,
.log-in-button:hover {
    cursor: pointer;
}

h1 {
    margin-top: 20px;
    font-size: 35px;
}

.post-block {
    box-shadow: inset 0px 0px 15px #3D405B;
}

.upper-question-block {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

.profile-img-2,
.profile-img-3 {
    height: 30px;
    width: 30px;
}

.username-and-img {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.username {
    margin-left: 10px;
    text-decoration: none;
}

.date {
    font-size: 15px;
}

.post-contents {
    padding-top: 25px;
    border-top: 1px solid #3D405B;
}

.question-body {
    font-size: 30px;
}

.lower-post-nav-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.edit-button {
    border-radius: 25px;
    margin-bottom: 20px;
    height: 25px;
    width: 70px;
    border: none;
    background-color: #81B29A;
    color: black;
}

.delete-button {
    border-radius: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 25px;
    width: 70px;
    border: none;
    background-color: rgb(255, 143, 143);
    color: black;
}

.delete-button:hover,
.edit-button:hover {
    box-shadow: 0px 2px 5px #3D405B;
}

.edit-text,
.delete-text {
    display:block;
    text-decoration: none;
}

.submit-answer-block {
    display: flex;
    flex-direction: column;
}

.answer-block {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

.answer-text-area {
    margin-top: 30px;
    min-width: 100%;
    min-height: 80px;
}

.answer-submit-button {
    border-radius: 25px;
    margin-bottom: 20px;
    height: 25px;
    width: 70px;
    border: none;
    background-color: #F2CC8F;
    color: black;
}

.answer-contents {
    border-bottom: 1px solid #3D405B;
}

.answers-title {
    margin-top: 20px;
}

.answers-text {
    font-weight: bold;
}

.footer {
    border-top: 1px solid #3D405B;
    margin-top: 30px;
    height: 74px;
    background-color: #E07A5F;
}

.logo-img-lower {
    display: flex;
    align-items: center;
    margin-left: 10%;
}
